html,
body  {
    padding: 0px;
    box-sizing: content-box;
    background-color:#f0f0f0;    
  }
  
  .container-fluid{
    padding: 25px 25px;    
    margin: 0px;
    // box-sizing: content-box;
    width: 100%;
    height: 100%;    
    background-color:#f0f0f0;    
  }
  .switch-tabs{    
    padding: 15px 25px;
    width: 100%;
    min-height: 650px;  
    background-color:#ffffff;
    position: relative;
  }
  
  .groupId,
  .version
  {
    font-weight: 400;
    color: black;
    // font-family: 'Courier New', Courier, monospace;
    padding: 7px 20px;
    font-size: 17px;
  }
  .flight{
    font-weight: 400;
    color: black;
    // font-family: 'Courier New', Courier, monospace;
    padding: 7px 20px;
    padding-left: 60px;
    font-size: 17px;
  }
  .groupId1{
    font-weight: 300;    
    color: black;
    // font-family: 'Courier New', Courier, monospace;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right:  20px;
    font-size: 17px;
  }
  .version1,
  .flight1{
    font-weight: 300;
    font: bolder;
    color: black;
    // font-family: 'Courier New', Courier, monospace;
    padding: 7px 5px;
    padding-right:  35px;
    font-size: 17px;
  }
  .background-grey{
    background-color:#fff;
    margin:1px;
  }
  #flight-details{
    padding: 0px 25px;
    margin-bottom: 30px;
    background-color:#f0f0f0;
    border-radius: 0.25rem;
  }
  .airline-form1,
  .airline-form2{
    padding:45px;   
    background-color:#f0f0f0;
    min-height:470px;
    max-height:470px;
  }
  .airline-form3{
    padding: 45px 20px;   
    background-color:#f0f0f0;
    min-height:220px;
    max-height:220px;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #6c757d6e;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 50px;
}
.pad70{
  padding-left: 54px;
}
.nav-tabs {
  // transform: skewX(30deg);
  // margin-left: -20px;
}
.skewednavbar{
  transform:skewX(30deg);
  -ms-transform:skewX(30deg);
  -webkit-transform:skewX(30deg); 
  position: relative;  
  height: 40px;
}
.skewedtext{
    overflow: hidden;
    padding: 3px 6px 3px 25px;    
    text-decoration: none;
    width: 100px;
     transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -webkit-transform:skewX(-30deg);
    position: absolute;
    color: #12416e;
}
.nav-tabs .nav-link {
  background: #6c757d6e;
  margin-bottom: -1px;
  width:200px;  
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-left: -25px;
  height: 40px;  
  padding-top: 0px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #f0f0f0;
  border-color: #dee2e6 #dee2e6 #fff;
  height: 40px;  
  padding-top: 0px;
}
.nav-list{
  padding-right: 20px;
  padding-left: 10px;
  overflow: overlay;
}
.btn-primary {
  color: #fff;
  width: 100px;   
  height: 34px;
  margin: 10px;
  font-size: 15px;
}
.btn-light {
  color: #12416e;
  background-color: #ffffff;
  width: 100px;   
  height: 34px;
  margin: 10px;
  font-size: 15px;
}

#leftformpart1{
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 50px;
}

img{
  height: 12px;
  width: 12px;
  margin-top: 12px;
  margin-right: 60px;
}
img:hover{
  height: 15px;
  width: 15px;
  margin-top: 7px;
  margin-right: 57px;
}

.form-check-input{
  height: 15px;
  width: 15px;
  margin-top: 14px;
  padding-right: 20px; 
}
.bg-primary {
  background-color: #12416e !important;
}
.btn-primary{
  background-color: #12416e !important; 
  border: #12416e;
}
a {
  // color: #252729;
  text-decoration: none;
  background-color: transparent;
}

.copytoclipboard{
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.copytoclipboard:hover {
  opacity: 0.8;
  border-color: #495057; 
}
.dropdown-menu{
width:350px;
height:40px;
background:transparent; 
padding: 0px 25px;
border-color: #f0f0f0;;
border-radius: 0.25rem;
box-shadow: transparent;
}
.dropdown-item{
  width:320px;
  height:40px;
  background-color: #6c757d6e;

}
.dropdown-item:hover{
  width:320px;
  height:40px;
  color: #252729;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: transparent;
}
.btn-secondary {
  color: #252729;
  background-color: #6c757d6e;
  border-color: #6c757d;
  width:350px;
  height:40px;
}
.btn-secondary2 {
  color: #252729;
  background-color: #fff;
  border-color: #6c757d;
  width:350px;
  height:40px;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 40px;
}
textarea{
  display: block;
  min-width: 330px;
  min-height: 100px;  
  max-width: 330px;
  max-height: 100px;  
}
.marginbottom{
  margin-bottom: 50px;
}
.table{
  min-width: 1300px;
  height: 400px;  
  border-bottom: 1px solid #dee2e6
}
.table-striped{  
  overflow:scroll;
  box-shadow: 5px 10px;    
  margin-bottom: 0px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td {
  padding: 0.75rem;
  padding-right: 100px;
  vertical-align: top;
  // border: 1px solid #6c757d;
}
.deiTable{
  padding:0px 0px;
  max-height: 250px;
  min-width: 1330px;
  overflow: scroll;  
  overflow-x: hidden; /* Hide Horizontal scrollbar */
  border-color: #6c757d;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.coltextarea{
  margin-left: 70px;
}

