<div class="container">
  <div class="col-12">
    <div class="switch-tabs">
      <p>You can use alternative markup without <code>ul li</code> elements</p>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="'nav-menu1'">
          <a ngbNavLink>Flight</a>          
          <ng-template ngbNavContent>
            <div class="airline-form">
            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <div class="col-4">
                    <label for="recordstatus" class="form-label">Record Status</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="recordstatus" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="airlinecc" class="form-label">Airline CC</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="airlinecc" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="flightnumber" class="form-label">Flight Number</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="flightnumber" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="frequencyrate" class="form-label">Frequency Rate</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="frequencyrate" />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <div class="col-4">
                    <label for="scheffdate" class="form-label">Sch Eff Date</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="scheffdate" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="schdisdate" class="form-label">Sch Dis Date</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="schdisdate" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="schfrequency" class="form-label">Sch Frequency</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="schfrequency" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="timemode" class="form-label">Time Mode</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="timemode" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'nav-menu2'">
          <a ngbNavLink>Segment</a>
          <ng-template ngbNavContent>
            <div class="airline-form">
            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <div class="col-4">
                    <label for="departurecity" class="form-label">Departure City</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="departurecity" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="aircraftstd" class="form-label">Aircraft STD</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="aircraftstd" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="paxstd" class="form-label">Pax STD</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="paxstd" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="deptimevarfromutc" class="form-label">DepTimeVarFromUTC</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="deptimevarfromutc" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="arrtimevarfromutc" class="form-label">ArrTimeVarFromUTC</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="arrtimevarfromutc" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="inflightadj" class="form-label">In Flight Adj</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="inflightadj" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="eqpsertype" class="form-label">Eqp Ser Type</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="eqpsertype" />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group row">
                  <div class="col-4">
                    <label for="arrivalcity" class="form-label">Arrival City</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="arrivalcity" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="aircraftsta" class="form-label">Aircraft STA</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="aircraftsta" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="paxsta" class="form-label">Pax STA</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="paxsta" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="depterminal" class="form-label">Dep Terminal</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="depterminal" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="arrterminal" class="form-label">Arr Terminal</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="arrterminal" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="aircraftconfig" class="form-label">Aircraft config</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="aircraftconfig" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <label for="aircrafttype" class="form-label">Aircraft Type</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" id="aircrafttype" />
                  </div>
                </div>
              </div>
            </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'nav-menu3'">
          <a ngbNavLink>DEI</a>
          <ng-template ngbNavContent>
            <p>
              Sed commodo, leo at suscipit dictum, quam est porttitor sapien,
              eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
              ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
              eget tincidunt eu, congue et odio. Duis pharetra et nisl at
              faucibus. Quisque luctus pulvinar arcu, et molestie lectus
              ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat
              volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
              nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
              bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
              magnis dis parturient montes, nascetur ridiculus mus. Mauris
              aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
              nec tortor vel tellus pulvinar feugiat.
            </p>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      <!-- </div> -->
    </div>
  </div>
</div>