.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    padding-right: 40px;
}
.navbar-brand{
    margin-left: 15px;
    color: #fff;
}
.navbar-brand:hover{
    margin-left: 15px;
    color: #fff;
}
.navbar-light .navbar-brand {
     color: #fff;
}
.logo-image{
    width: 46px;
    // height: 46px;
    border-radius: 50%;
    overflow: hidden;    
}
.copa-logo{
    max-width: 180px;
}
.userdetails{
    color: #fff;
    margin-left: 1050px;
}
.bg-primary {
    background-color: #12416E !important;
}
img {
    vertical-align: middle;
    border-style: none;    
}