
.navbar-brand{
    margin-left: 15px;
    color: #fff;
}
.logo-image{
    width: 46px;
    // height: 46px;
    border-radius: 50%;
    overflow: hidden;    
}
.userdetails{
    color: #fff;
    margin-left: 1100px;
}
.bg-primary {
    background-color: #0a4789 !important;
}